services:
  traefik:
    image: traefik:v3.0
    command:
      - '--entrypoints.web.address=:80'

      - '--providers.docker=true'
      - '--providers.docker.exposedByDefault=false'

      - '--api.dashboard=true'
      - '--api.insecure=false'

      - '--log.level=DEBUG'
      - '--log.format=json'
      - '--log.filePath=/var/log/traefik.log'
    ports:
      - '80:80'
      - '443:443'
      - '8080:8080' # Dashboard
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - './certs:/certs:ro'
    networks:
      - tusmo-net

  client:
    container_name: tusmo-frontend
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    command: npm run dev -- --host 0.0.0.0
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.client.rule=PathPrefix(`/`)'
      - 'traefik.http.routers.client.entrypoints=web'
      - 'traefik.http.routers.client.service=client-service'
      - 'traefik.http.services.client-service.loadbalancer.server.port=3000'
    networks:
      - tusmo-net

  backend:
    container_name: tusmo-backend
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - '3001:3001'
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.backend.rule=PathPrefix(`/socket.io`)'
      - 'traefik.http.routers.backend.entrypoints=web'
      - 'traefik.http.routers.backend.service=backend-service'
      - 'traefik.http.services.backend-service.loadbalancer.server.port=3001'

    networks:
      - tusmo-net

networks:
  tusmo-net:
    driver: bridge
