services:
  traefik:
    image: traefik:v3.0
    command:
      - '--api.dashboard=true'
      - '--providers.docker=true'
      - '--providers.docker.exposedByDefault=false'
      - '--entrypoints.web.address=:80'
    ports:
      - '80:80'
      - '8080:8080' # Dashboard
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'

  client:
    build: ./client
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.client.rule=PathPrefix(`/`)'
      - 'traefik.http.services.client.loadbalancer.server.port=80'

  backend:
    build: ./server
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.backend.rule=PathPrefix(`/ws`)'
      - 'traefik.http.services.backend.loadbalancer.server.port=3001'
    environment:
      - NODE_ENV=production
