services:
  traefik:
    image: traefik:v3.6.5
    labels:
      - 'traefik.enable=true'
    command:
      - '--entrypoints.web.address=:80'
      - '--entrypoints.websecure.address=:443'

      # Redirection HTTP → HTTPS
      - '--entrypoints.web.http.redirections.entrypoint.to=websecure'
      - '--entrypoints.web.http.redirections.entrypoint.scheme=https'

      - '--entrypoints.websecure.http.tls=true'
      - '--entrypoints.websecure.http.tls.certresolver=le'

      - '--certificatesresolvers.le.acme.tlschallenge=true'
      - '--certificatesresolvers.le.acme.email=guillaumeweill88@gmail.com'
      - '--certificatesresolvers.le.acme.storage=/letsencrypt/acme.json'
      - '--certificatesresolvers.le.acme.httpchallenge.entrypoint=web'

      - '--providers.docker=true'
      - '--providers.docker.exposedByDefault=false'

      - '--api.insecure=false'

      - '--log.level=INFO'
    ports:
      - '80:80'
      - '443:443'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - './letsencrypt:/letsencrypt'
    networks:
      - tusmo-net

  client-prod:
    container_name: tusmo-client
    build: ./client
    labels:
      - 'traefik.enable=true'

      # Router HTTPS sécurisé
      - 'traefik.http.routers.client-secure.entrypoints=websecure'
      - 'traefik.http.routers.client-secure.rule=Host(`${DOMAIN_NAME}`)'
      - 'traefik.http.routers.client-secure.priority=1'
      - 'traefik.http.routers.client-secure.tls.certresolver=le'

      # Configuration du port interne
      - 'traefik.http.routers.client-secure.service=client-service'
      - 'traefik.http.services.client-service.loadbalancer.server.port=3000'

      # Security headers
      - 'traefik.http.middlewares.client-secure.headers.sslredirect=true'
      - 'traefik.http.middlewares.client-secure.headers.stsseconds=31536000'
      - 'traefik.http.middlewares.client-secure.headers.stsincludesubdomains=true'
      - 'traefik.http.middlewares.client-secure.headers.stspreload=true'
      - 'traefik.http.routers.client.middlewares=client-secure'

    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}

    networks:
      - tusmo-net

  server-prod:
    container_name: tusmo-server
    build: ./server
    labels:
      - 'traefik.enable=true'

      # Router HTTPS sécurisé
      - 'traefik.http.routers.server-secure.entrypoints=websecure'
      - 'traefik.http.routers.server-secure.rule=Host(`${DOMAIN_NAME}`) && Path(`/socket.io/`)'
      - 'traefik.http.routers.server-secure.tls.certresolver=le'
      - 'traefik.http.routers.server-secure.priority=100'

      - 'traefik.http.routers.server-secure.service=server-service'

      # Configuration du port interne
      - 'traefik.http.services.server-service.loadbalancer.server.port=3001'
    environment:
      - NODE_ENV=production
      - DOMAIN_NAME=${DOMAIN_NAME}
    networks:
      - tusmo-net

networks:
  tusmo-net:
    driver: bridge

volumes:
  letsencrypt:
